<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.miw.mappers.UserMapper">
			<!-- Add a user. -->
			<insert id="insertUser" parameterType="co.miw.models.User">
						insert into t_user
							(uname,password, realname, gender, points, active, email,	mobile,tel,office,home,remark,ctime,cuid,cip,utime,uuid,uip)
						values 
							(#{uname}, #{password},#{realname},#{gender},#{points},#{active},#{email},#{mobile},#{tel},#{office},#{home},#{remark},#{ctime},#{cuid},#{cip},#{utime},#{uuid},#{uip})
			</insert>
			<!-- Query a user by ID -->
			<select id="selectByKey" parameterType="int" resultType="co.miw.models.User">
				select 
					uid,uname,password,realname,gender,points,active
				from miw1.t_user
				where uid=#{uid}
			</select>
</mapper>