<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="co.miw.models.User">
			<cache type="org.mybatis.caches.ehcache.LoggingEhcache" readOnly="true" />

			<!-- 查询总数 -->
			<select id="getCount" resultType="java.lang.Long" parameterType="java.util.Map">
						select count(uid)
						from t_user
						<include refid="Base_Where_Clause" />
			</select>

			<!-- 根据ID查询 -->
			<select id="queryById" resultType="co.miw.models.User" parameterType="java.lang.Long">
						select
						*
						from t_user
						where uid = #{uid}
			</select>

			<!-- 根据ID删除 -->
			<delete id="deleteById" parameterType="java.lang.String">
						delete from t_user
						where dic_id = #{dicId}
			</delete>

			<!-- 删除 -->
			<delete id="delete" parameterType="java.util.Map">
						delete from t_user
						<include refid="Base_Where_Clause" />
			</delete>

			<!-- 添加 -->
			<insert id="insert" parameterType="co.miw.models.User">
						insert into t_user(uname, password, realname, gender, points, active, email,
						mobile,tel,office,home,remark)
						values ( #{uname}, #{password},
						#{realname},#{gender},#{points},#{active},#{email},#{mobile},#{tel},#{office},#{home},#{remark})
			</insert>


			<!-- 通过ID更新 -->
			<update id="updateById" parameterType="co.miw.models.User">
						update t_user
						<set>
									<if test="dicName != null">dic_name = #{dicName},</if>
									<if test="dicValue != null">dic_value = #{dicValue},</if>
									<if test="dicGroup != null">dic_group = #{dicGroup},</if>
									<if test="dicType != null">dic_type = #{dicType},</if>
									<if test="dicOrder != null">dic_order = #{dicOrder},</if>
									<if test="dicStatus != null">dic_status = #{dicStatus},</if>
									<if test="dicParentId != null">dic_parent_id = #{dicParentId},</if>
						</set>
						where dic_id = #{dicId}
			</update>

			<update id="updateById" parameterType="co.miw.models.User">
						update t_user
						set dic_name = #{dicName},
						dic_value = #{dicValue},
						dic_group = #{dicGroup},
						dic_type = #{dicType},
						dic_order = #{dicOrder},
						dic_status = #{dicStatus},
						dic_parent_id = #{dicParentId}
						where dic_id = #{dicId}
			</update>

</mapper>