<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee"
		xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
		id="WebApp_ID" version="3.1">
		<display-name>miw001</display-name>
		<welcome-file-list>
				<welcome-file>login.jsp</welcome-file>
		</welcome-file-list>
		<!-- Configure DispatherServlet/Handler -->
		<servlet>
				<servlet-name>miwServlet</servlet-name>
				<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
				<!-- Configure SpringMVC's configuration filename and its location -->
				<init-param>
						<param-name>contextConfigLocation</param-name>
						<param-value>/WEB-INF/conf/miwServlet.xml</param-value>
				</init-param>
				<load-on-startup>1</load-on-startup>
		</servlet>
		<servlet-mapping>
				<servlet-name>miwServlet</servlet-name>
				<url-pattern>/</url-pattern>
		</servlet-mapping>
		<!-- Loading Spring Container, and Acquire its file's location -->
		<listener>
			<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
		</listener>
		<context-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/conf/containerLoad.xml</param-value>
		</context-param>
</web-app>