<?xml version="1.0" encoding="UTF-8"?>
<!-- <configuration status="DEBUG">  -->
<configuration status="WARN">
	<appenders>
		<console name="Console" target="SYSTEM_OUT">
			<!-- <PatternLayout pattern="%m%n" />  -->
			<patternlayout pattern="%d{HH:mm:ss.sss} [%t] %-5level %logger{36} - %msg%n" />
		</console>
	</appenders>
	<loggers>
		<!-- <root level="debug"> -->
    <root level="INFO"> 
			<appender-ref ref="Console" />
		</root>
	</loggers>
</configuration>